.header
{
  background-color: #fff;
  min-height: 80px;
  box-shadow: 0px 2px 0px #ccc;
  margin-bottom: .5rem;

  h1
  {
    color: #c01948;
    font-size: 2.4rem;
    letter-spacing: .2rem;
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    text-align: center;
    padding-top: .75rem;
  }
}
