aside.main {
    .photo img{
        height: 100%;
        width: 100%;
        max-width: 320px;
        background-color: #d9d9d9;
    }
    h2
    {
      color: #c01948;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      font-family: 'Helvetica', sans-serif;
      text-align: center;
    }

}
