aside.main {
    .photo {
        height: 95px;
        width: 100%;
        background-color: #d9d9d9;
    }
    .ad-one {
        background-image: url(../assets/imgs/ad1.png);
        height: 100%;
        width: 100%;
        max-width: 320px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .ad-two {
      background-image: url(../assets/imgs/ad2.png);
      height: 100%;
      width: 100%;
      max-width: 320px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .assets {
        padding: 10px 0;
        .assets-count {
            padding: 0 16px;
            display: block;
            font-size: 13px;
            color: #657786;
        }
        .assets-title {
            font-weight: 600;
            padding: 0 16px;
            color: #657786;
            display: block;
        } 
        .no-left-pad {
            padding-left: 0;
        }
    }
}
